body {
    font-family: Verdana;
}

.highlight {
    background-color: yellow;
}

.flex-container {
    display: flex;
    flex-direction: column;
}
.table {
    display: flex;
    flex-flow: column nowrap;
    font-size: .8rem;
    margin: 0.5rem;
    line-height: 1.5;
    border-bottom: 1px solid #d0d0d0;
    flex: 1 1 auto;
}